<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>
</head>
<body>
    <h1>Today is : <%=kindOfDay%> </h1>
    <ol>
        
        <% for (var i=0;i<newListItem.length;i++){%>
            <li><%=newListItem[i]%></li>
            <%}%>

    </ol>
    <form action="/" method="post">
        <input type="text" name="newItem">
        <button type="submit" name="button">Add New</button>
    </form>
</body>
</html>